:root {
  --main-text-color: #626262;
  --heading-color: #B4AD9E;
  --nav-link-color: #7D7D7D;
  --accent-color: #03A9F4;
  --bg-color: #FFFFFF;
  --border-btn-color: #626262;
  --font-family: "Playfair Display", sans-serif;
  --second-family: "Ubuntu", sans-serif;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .container {
    width: 730px;
    outline: 1px solid blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 900px;
    outline: 1px solid green;
  }
}

body {
  background: #000000;
}

.no-scroll {
  overflow: hidden;
}

.header {
  padding-top: 71px;
  padding-bottom: 26px;
  z-index: 10;
  background-color: #FFFFFF;
  width: 100%;
}

.header_link {
  position: relative;
  color: var(--nav-link-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.current {
  color: var(--accent-color);
}

.header_link.current::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  border-radius: 4px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header_link.current:hover::after {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header_item::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 100%;
  height: 4px;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    gap: 50px;
  }
}

.header_item {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #7D7D7D;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header_item:hover {
  color: #03A9F4;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header_item:hover + .header_sub_list {
  display: block;
}

.header_sub_list {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  gap: 7px;
  color: aqua;
  background-color: #7D7D7D;
  display: none;
}

.header_logo {
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .header_logo {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .header_logo {
    margin-right: 100px;
  }
}

.header_button {
  margin-left: auto;
}

body {
  color: var(--main-text-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

.gallery_topic {
  font-family: var(--second-family);
  font-weight: 300;
  margin-top: 32px;
  color: var(--heading-color);
}

.gallery_subtitle {
  font-family: var(--second-family);
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.gallery_title {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.gallery_button {
  color: #626262;
  font-family: inherit;
}

.gallery-text {
  margin-top: 40px;
  padding-bottom: 15px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 130px 65px;
}

.gallery-item {
  width: 420px;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid black;
}

.gallery {
  padding-top: 66px;
  padding-bottom: 66px;
  background-color: #FFFFFF;
}

.gallery_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  padding: 20px 50px;
  margin-top: 94px;
}

.scroll_to_top_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 62px;
  right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 12px 36px;
}

html {
  scroll-behavior: smooth;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(161, 156, 156, 0.397);
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.25) rotate(-360deg);
          transform: translate(-50%, -50%) scale(0.25) rotate(-360deg);
}

.modal {
  position: absolute;
  width: 300px;
  height: 200px;
  padding: 30px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.text-modal-button {
  padding: 50px 50px;
}

.modal_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.modal_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_label:focus-within {
  color: #03A9F4;
}

.modal_label:focus-within input {
  border: 1px solid #03A9F4;
}

.modal_label input:-moz-placeholder {
  border: 1px solid greenyellow;
}

.modal_label input:-ms-input-placeholder {
  border: 1px solid greenyellow;
}

.modal_label input:placeholder-shown {
  border: 1px solid greenyellow;
}/*# sourceMappingURL=main.css.map */